<div class="row mb-3">
	<div class="col text-left">
		<button mat-raised-button routerLink="/twins" color="primary" class="mat-elevation-z8" *transloco="let t">
			<mat-icon>arrow_back_ios</mat-icon>
			{{ t('twins.GO_BACK') }}
		</button>
	</div>
	<div class="col text-right">
		<app-refresh *ngIf="showRefresh" (click)="refreshStatistics()"></app-refresh>
	</div>
</div>

<app-loading *ngIf="loading"></app-loading>
<app-error-message *ngIf="!loading && error" [message]="error"></app-error-message>

<div *ngIf="!loading && !error" class="row row-cols-1 row-cols-md-2">
	<div *ngFor="let statistic of statistics" class="col mb-4">
		<app-statistic-card [statistic]="statistic" [twinName]="twinName"></app-statistic-card>
	</div>
</div>
