<div class="row mb-3 text-center">
	<div class="col-md text-md-left">
		<button mat-raised-button routerLink="/twins" color="primary" class="mat-elevation-z8" *transloco="let t">
			<mat-icon>arrow_back_ios</mat-icon>
			{{ t('twins.GO_BACK') }}
		</button>
	</div>

	<div class="col-md mt-3 mt-md-0 text-md-right">
		<app-refresh *ngIf="showRefresh" appPreventDoubleClick (throttledClick)="refreshStatistics()"></app-refresh>
	</div>
</div>

<app-error-message *ngIf="error; else showStatisticsCards" [message]="error"></app-error-message>

<ng-template #showStatisticsCards>
	<div class="row row-cols-1 row-cols-md-2">
		<div *ngFor="let statistic of statistics" class="col mb-4">
			<app-statistic-card [statistic]="statistic" [twinName]="twinName"></app-statistic-card>
		</div>
	</div>
</ng-template>
