<div class="container-fluid d-flex flex-column min-vh-100">
	<div class="row">
		<div class="col-lg-6 gradient-bg">
			<div class="row align-items-center text-white text-break vh-100">
				<h1 class="mat-display-3 ml-5">
					Bienvenido a SmartGlass
					<div class="mat-title">Inicia sesión para acceder a tu cuenta</div>
				</h1>
			</div>
		</div>

		<div class="col-lg-6 my-5 my-lg-0">
			<div class="row align-items-center justify-content-center h-100">
				<mat-card class="mat-elevation-z8 rounded-lg text-center">
					<mat-card-content class="overflow-hidden">
						<router-outlet></router-outlet>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</div>
</div>
