<app-loader></app-loader>

<div class="container-fluid min-vh-100">
	<div class="row">
		<div class="col-lg-6 gradient-bg">
			<div class="d-flex flex-column justify-content-center align-items-center text-white text-center vh-100">
				<h1 class="mat-display-3" *transloco="let t">
					{{ t('auth.WELCOME') }}
					<div class="mat-title" *transloco="let t">{{ t('auth.WELCOME_HELP') }}</div>
				</h1>

				<mat-icon class="d-lg-none" (click)="scrollToAuth(auth)">arrow_downward</mat-icon>
			</div>
		</div>

		<div class="col-lg-6 my-5 my-lg-0">
			<div class="row align-items-center justify-content-center h-100">
				<mat-card class="mat-elevation-z8 rounded-lg text-center mx-3">
					<mat-card-content #auth>
						<div class="d-flex justify-content-end">
							<mat-icon>language</mat-icon>
							<app-change-lang></app-change-lang>
						</div>

						<router-outlet></router-outlet>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</div>
</div>
