<h1 class="mat-display-2 mb-0">Login</h1>

<form [formGroup]="loginForm" (submit)="login()">
	<div class="form-group">
		<mat-form-field class="form-field" appearance="standard">
			<mat-label>Email</mat-label>
			<label>
				<input matInput formControlName="email" type="email" />
			</label>
			<mat-error *ngIf="controls.email.errors">
				<span *ngIf="controls.email.errors.required">{{ 'auth.EMAIL_REQUIRED' | transloco }}</span>
				<span *ngIf="controls.email.errors.email">{{ 'auth.INVALID_EMAIL' | transloco }}</span>
			</mat-error>
		</mat-form-field>
	</div>

	<div class="form-group">
		<mat-form-field class="form-field" appearance="standard">
			<mat-label>{{ 'auth.PWD' | transloco }}</mat-label>
			<label>
				<input matInput formControlName="password" type="password" />
			</label>
			<mat-error *ngIf="controls.password.invalid">{{ 'auth.PWD_REQUIRED' | transloco }}</mat-error>
		</mat-form-field>
	</div>

	<p *transloco="let t">
		{{ t('auth.LOGIN_HELP') }}
		<a class="d-inline" routerLink="../signup" *transloco="let t">{{ t('auth.SIGNUP') }}</a>
	</p>

	<div class="text-right">
		<button mat-raised-button color="primary" class="mat-elevation-z8" type="submit" *transloco="let t">
			{{ t('auth.LOGIN') }}
		</button>
	</div>
</form>
