<h1 class="mat-display-2 mb-0">Login</h1>

<form [formGroup]="loginForm" (submit)="login()">
	<div class="form-group">
		<mat-form-field class="form-field" appearance="standard">
			<mat-label>Email</mat-label>
			<label>
				<input matInput formControlName="email" type="email">
			</label>
			<mat-error *ngIf="controls.email.errors">
				<span *ngIf="controls.email.errors.required">Email requerido</span>
				<span *ngIf="controls.email.errors.email">Email inválido</span>
			</mat-error>
		</mat-form-field>
	</div>

	<div class="form-group">
		<mat-form-field class="form-field" appearance="standard">
			<mat-label>Contraseña</mat-label>
			<label>
				<input matInput formControlName="password" type="password">
			</label>
			<mat-error *ngIf="controls.password.invalid">Contraseña requerida</mat-error>
		</mat-form-field>
	</div>

	<p>
		¿No tienes una cuenta?
		<a class="d-inline" routerLink="../signup">Regístrate</a>
	</p>

	<app-loading *ngIf="loadingDashboard"></app-loading>

	<div *ngIf="!loadingDashboard" class="text-right m-3">
		<button mat-raised-button color="primary" class="mat-elevation-z8" type="submit">
			Entrar
		</button>
	</div>
</form>
