<div class="d-flex align-items-center justify-content-center">
	<div class="img-fluid">
		<img
			class="mat-elevation-z3 rounded-circle"
			alt="profile-image"
			[src]="user.profileImage"
			[width]="size"
			[height]="size"
			(click)="emitClick()"
		/>
	</div>

	<div class="d-none d-sm-flex flex-column font-italic ml-2" *ngIf="showInfo">
		<ng-container *ngIf="user.username; else showOnlyEmail">
			<span>{{ user.username }}</span>
			<span class="text-white-50">{{ user.email }}</span>
		</ng-container>

		<ng-template #showOnlyEmail>
			<span class="align-self-center">{{ user.username }}</span>
		</ng-template>
	</div>
</div>
