<h1 class="mat-display-2 mb-0" *transloco="let t">{{ t('auth.SIGNUP') }}</h1>

<form [formGroup]="signUpForm" (submit)="signUp()">
	<div class="form-group">
		<mat-form-field class="form-field" appearance="standard">
			<mat-label>Email</mat-label>
			<label>
				<input matInput formControlName="email" type="email" required />
			</label>
			<mat-error *ngIf="controls.email.errors">
				<span *ngIf="controls.email.errors.required">{{ 'auth.EMAIL_REQUIRED' | transloco }}</span>
				<span *ngIf="controls.email.errors.email">{{ 'auth.INVALID_EMAIL' | transloco }}</span>
			</mat-error>
		</mat-form-field>
	</div>

	<div class="form-group">
		<mat-form-field class="form-field" appearance="standard">
			<mat-label>{{ 'auth.PWD' | transloco }}</mat-label>
			<label>
				<input matInput formControlName="password" type="password" required />
			</label>
			<mat-error *ngIf="controls.password.errors">
				<span *ngIf="controls.password.errors.required">{{ 'auth.PWD_REQUIRED' | transloco }}</span>
				<span *ngIf="controls.password.errors.minlength">{{ 'auth.INVALID_PWD' | transloco }}</span>
			</mat-error>
		</mat-form-field>
	</div>

	<div class="form-group">
		<mat-form-field class="form-field" appearance="standard">
			<mat-label>{{ 'auth.PWD_CONFIRM' | transloco }}</mat-label>
			<label>
				<input matInput formControlName="confirmedPassword" type="password" required />
			</label>
			<mat-error *ngIf="controls.confirmedPassword.errors">
				<span *ngIf="controls.confirmedPassword.errors.required">{{ 'auth.PWD_CONFIRM_REQUIRED' | transloco }}</span>
				<span *ngIf="controls.confirmedPassword.errors.mustMatch">{{ 'auth.PWD_DONT_MATCH' | transloco }}</span>
			</mat-error>
		</mat-form-field>
	</div>

	<p *transloco="let t">
		{{ t('auth.SIGNUP_HELP') }}
		<a class="d-inline" routerLink="../login" *transloco="let t">{{ t('auth.LOGIN') }}</a>
	</p>

	<div class="text-right">
		<button mat-raised-button color="primary" class="mat-elevation-z8" type="submit" *transloco="let t">
			{{ t('auth.SIGNUP') }}
		</button>
	</div>
</form>
