<app-loader></app-loader>
<mat-sidenav-container fullscreen>
	<mat-sidenav #sidenav mode="over">
		<app-navigation [sidenav]="sidenav"></app-navigation>
	</mat-sidenav>

	<mat-toolbar color="primary">
		<mat-toolbar-row>
			<button mat-icon-button (click)="sidenav.toggle()">
				<mat-icon>menu</mat-icon>
			</button>

			<span class="spacer"></span>

			<mat-icon>language</mat-icon>
			<app-change-lang></app-change-lang>
		</mat-toolbar-row>
	</mat-toolbar>

	<div class="mx-5 my-3">
		<router-outlet></router-outlet>
	</div>
</mat-sidenav-container>
