@import '../../../node_modules/@angular/material/theming';

$primaryPalette: mat-palette($mat-deep-purple);
$accentPalette: mat-palette($mat-amber, A200, A100, A400);

$primaryColor: mat-color($primaryPalette);
$accentColor: mat-color($accentPalette);

a, a:hover {
	color: $primaryColor
}
