<mat-card class="mat-elevation-z8 rounded-lg">
	<mat-card-header>
		<mat-card-title *transloco="let t">{{ t('twins.' + statistic.id) }}</mat-card-title>
	</mat-card-header>

	<mat-card-content>
		<app-loading *ngIf="loading"></app-loading>
		<app-error-message *ngIf="!loading && error" [message]="error"></app-error-message>
		<ng-template appStatisticItem></ng-template>
	</mat-card-content>

	<mat-card-actions>
		<mat-select (valueChange)="loadStatistic($event)" [value]="periods[0]">
			<mat-option *ngFor="let period of periods" [value]="period">{{ 'twins.' + period | transloco }}</mat-option>
		</mat-select>
	</mat-card-actions>
</mat-card>
