<mat-nav-list class="d-flex flex-column overflow-auto">
	<div class="logo-container">
		<img src="../../../../assets/img/logo.png" class="img-fluid" alt="logo-turomas" />
	</div>

	<a mat-list-item routerLink="./twins">
		Home
		<mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
	</a>

	<a mat-list-item routerLink="./profile" *transloco="let t">
		{{ t('twins.PROFILE') }}
		<mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
	</a>

	<mat-expansion-panel class="mat-elevation-z0" (click)="sidenav.toggle()">
		<mat-expansion-panel-header>
			<mat-panel-title *transloco="let t">{{ t('twins.TWINS') }}</mat-panel-title>
			<mat-panel-description *transloco="let t">{{ t('twins.TWINS_DESCRIPTION') }}</mat-panel-description>
		</mat-expansion-panel-header>
		<a
			*ngFor="let twin of twinsInfo | async"
			mat-list-item
			[routerLink]="['/dashboard/twin', twin.name]"
			(click)="sidenav.toggle()"
		>
			{{ twin.name }}
			<mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
		</a>
	</mat-expansion-panel>
</mat-nav-list>

<div class="text-center mt-5">
	<button mat-raised-button color="primary" (click)="logout()">
		<mat-icon>logout</mat-icon>
	</button>
</div>
