<mat-card class="h-100 mat-elevation-z8 rounded-lg">
	<mat-card-header>
		<div mat-card-avatar [ngClass]="getStatusStyle(machine.status)"></div>
		<mat-card-title>{{machine.name}}</mat-card-title>
	</mat-card-header>
	<img mat-card-image [src]="machine.img" [alt]="machine.name" class=" m-2 img-fluid">
	<mat-card-content>
		<div class="grey-text mb-4">
			<p>Nº SERIE: {{machine.series}}</p>
			<p>MODELO: {{machine.model}}</p>
		</div>

		<p>Estadísticas</p>
		<hr/>

		<p>Notificaciones</p>
		<hr/>
	</mat-card-content>
	<mat-card-actions>
		<div class="text-right m-3">
			<button mat-raised-button [routerLink]="['/machines/', machine.id]" color="primary" class="mat-elevation-z8">
				<mat-icon>read_more</mat-icon>
				Ver más
			</button>
		</div>
	</mat-card-actions>
</mat-card>
