<mat-card class="mat-elevation-z8 rounded-lg">
	<mat-card-header>
		<div mat-card-avatar [ngClass]="getStateStyle(twinInfo.currentState)"></div>
		<mat-card-title>{{ twinInfo.name }}</mat-card-title>
		<mat-card-subtitle *transloco="let t">{{ t('twins.' + twinInfo.currentState) }}</mat-card-subtitle>
	</mat-card-header>

	<img mat-card-image [src]="twinInfo.img" [alt]="twinInfo.name" class="m-2 img-fluid" />

	<mat-card-content>
		<div class="text-secondary mb-4">
			<p>
				<b *transloco="let t">{{ t('twins.BRAND') }}</b> {{ twinInfo.machineSeries }}
			</p>
			<p>
				<b *transloco="let t">{{ t('twins.MODEL') }}</b> {{ twinInfo.machineModel }}
			</p>
		</div>

		<p>Ratios</p>
		<hr class="border-dark" />
		<div class="text-center">
			<app-error-message *ngIf="error; else showRatios" [message]="error"></app-error-message>

			<ng-template #showRatios>
				<ngx-gauge
					*ngFor="let ratio of ratios | async"
					[value]="ratio.value | percentage"
					[label]="'twins.' + ratio.id | transloco"
					[size]="120"
					append="%"
					class="ml-3"
				></ngx-gauge>
			</ng-template>
		</div>
	</mat-card-content>

	<mat-card-actions>
		<div class="text-right m-3">
			<button
				mat-raised-button
				[routerLink]="['/dashboard/twin', twinInfo.name]"
				color="primary"
				class="mat-elevation-z8"
				*transloco="let t"
			>
				<mat-icon>read_more</mat-icon>
				{{ t('twins.SHOW_MORE') }}
			</button>
		</div>
	</mat-card-actions>
</mat-card>
