<mat-table [dataSource]="model.dataSource" class="w-100">
	<ng-container *ngFor="let column of model.columns" matColumnDef="{{ column.id }}">
		<mat-header-cell *matHeaderCellDef>{{ 'twins.' + column.header | transloco }}</mat-header-cell>
		<mat-cell *matCellDef="let element">{{ element[column.id] }}</mat-cell>
	</ng-container>

	<mat-header-row *matHeaderRowDef="model | tableIds"></mat-header-row>
	<mat-row *matRowDef="let row; columns: model | tableIds"></mat-row>
</mat-table>

<mat-paginator
	[ngStyle]="{ display: isLargeScreen ? 'block' : 'none' }"
	[pageSizeOptions]="[5, 10, 20]"
	showFirstLastButtons
></mat-paginator>
